@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* To set REM size */
    font-size: 16px;
}

* {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hover-float:hover {
    box-shadow: 1rem 1rem black;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transform: translate(-0.5rem, -0.5rem);
}

.hover-float {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}